
    <div class="col-10 border border-info rounded mx-auto p-2 my-2">
        <h1>BIENVENIDO</h1>
        ¿Tienes una cuenta creada? <a href="/login">Iniciar Sesion</a>
        ¿Aún no tienes una cuenta? <a href="/signup">Crear cuenta</a>
    </div>