
    <div class="col 6 border border-info">
        <form class="col-6 border border-info rounded mx-auto my-1 p-2" action="/login" method="post">
            <label for="username" class="form-label">INGRESE SU EMAIL:</label>
            <input type="username" id="username" name="username" class="form-control">
            <button type="submit" id="login" class="btn btn-outline-info my-1">INGRESAR</button>     
        </form>
    </div>



