
    <div class="col 6 border border-info">
        <h1>CREAR CUENTA</h1>
        <form class="col-6 border border-info rounded mx-auto my-1 p-2" action="/signup" method="post">
            <label for="username" class="form-label">INGRESE SU EMAIL:</label>
            <input type="username" id="username" name="username" class="form-control">
            <label for="password" class="form-label">INGRESE SU PASSWORD:</label>
            <input type="password" id="password" name="password" class="form-control" autocomplete="off" >
            <label for="name" class="form-label">INGRESE SU NOMBRE:</label>
            <input type="name" id="name" name="name" class="form-control">
            <button type="submit" id="login" class="btn btn-outline-info my-1">INGRESAR</button>
            ¿Ya tienes una cuenta? <a href="/signup">Iniciar sesión</a>.     
        </form>
    </div>